/* Generales */
* {
    box-sizing: border-box;
  }

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: #87119A;
}

h2{
    font-size: 28px;
    color: #87119A;
    font-weight: bold;
    border-left: 6px solid #87119A;
    padding: 10px 0 10px 16px;
    margin-bottom: 18px;
}

p{
    line-height: 32px;
    margin-bottom: 24px;
}

b{
    font-weight: bold;
}

/* Secci贸n Cabecera */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #9ECEFA;
    padding: 24px;
    position: fixed;
    z-index: 100%;
    width: 100%;
}

.logo{
    font-family: 'Fascinate', cursive;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
}
.header nav{
    display: flex;
    align-items: center;
}

.header ul{
    display: flex;
}

.header li{
    margin-left: 12px;
    padding: 6px;
}

.header ul li:first-child {
    font-weight: bold;
    border-bottom: 2px solid #9e017c;
}
/* Fin secci贸n Cabecera */

/* Secci贸n main */
.wrap{
    margin: 0px 36px 36px 36px;
    padding-top: 120px;
}

.section{
    margin-bottom: 48px;
}

.images{
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.images img{
    width: 100%;
}

.images-service{
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

figure img{
    width: 100%;
}

.images-service figure:nth-child(2){
    margin-left: 20px;
}

.images-service figure:nth-child(3){
    margin-left: 20px;
}

.images-service figure:nth-child(4){
    margin-left: 20px;
}

.images-service div{
    margin-left: 20px;
}
/* Fin Secci贸n Mai */

/* SECCION FOOTER */
.footer{
    display: flex;
    justify-content: space-between;
    background-color: #9ECEFA;
    padding: 24px;
    color: white;
    font-size: 16px;
}
