html {
    font-size: 62.5%;
    letter-spacing: 0.04em;
    font-family: Helvetica;
}

h1 {
    font-size: 3.2rem;
    color: #fff;
    line-height: 74px;
}

h2 {
    color: #1F3F68;
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 38px;
}

h3 {
    color: rgba(53, 110, 173, 0.8);
    font-size: 2.0rem;
    font-weight: 700;
    margin-bottom: 24px;
}

h4 {
    color: rgba(53, 110, 173, 0.8);
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

p {
    font-family: Arial;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.4rem;
    line-height: 26px;
}

.contenedor {
    margin: 35px 20px;
}

h5 {
    color: #1F3F68;
    font-size: 1.4rem;
    font-weight: 700;
}

hr {
    margin: 0px;
}

/* ** Sección Navegador */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 16px;
}

.nav ul {
    display: flex;
}

.nav a {
    text-decoration: none;
    padding: 16px;
    font-size: 1.4rem;
    color: #000;
}

.link-active a {
    font-weight: 700;
    color: #1F3F68;
}
/* Fin sección navegador */

/* ** Sección Banner */
.banner-top {
    background-image: url(../../../../img/Mask\ Group.png);
    text-align: center;
    padding: 36px 60px;
}

.banner-top p {
    color: #fff;
}
/* Sección Banner */

/* ** Sección Noticias Populares */
/* Sección buscar */
.search {
    position: relative;
    color: rgba(31, 63, 104, 0.6);
    margin-bottom: 36px;
}

.fa-search {
    position: absolute;
    pointer-events: none;
    margin: 16px;
}

.left-addon .fas {
    left: 0px;
    font-size: 16px;
}

.left-addon input {
    padding: 16px 60px;
    border-radius: 10px;
    border: none;
    background: #F4F4F4;
    width: 100%;
    color: #1F3F68;
}

.left-addon input::placeholder {
    color: rgba(31, 63, 104, 0.6);
}
/* Fin sección buscar */

/* Card principal */
.cards-news {
    margin-bottom: 40px;
}

.cards-news figure{
    order: 2;
}

.content-card {
    order: 1;
}

.cards-news img {
    width: 100%;
    height: 300px;
}

.footer-card p {
    color: rgba(0, 0, 0, 0.4);
}

.text-card p {
    margin-bottom: 24px;
}

.footer-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-card-icon i {
    color: #356EAD;
    margin: 12px;
    font-size: 1.6rem;
}

.all-article img{
    height: 200px;
}
/* Fin card principal */

/* Card secundario*/
.cards-news-second img {
    width: 100%;
    height: 200px;
}

.cards-news-second {
    margin-bottom: 24px;
}

.section-second-popular {
    margin-bottom: 40px;
}
/* Fin card secundario */

/* Botones para mas noticias */
.left-button button,
.right-button button {
    background: none;
    border: none;
}

.left-button a,
.right-button a {
    font-style: none;
    text-decoration: none;
    color: #356EAD;
    font-size: 1.6rem;
}

.left-button i,
.right-button span {
    margin-right: 16px;
}

.section-buttons-footer {
    display: flex;
    justify-content: flex-end;
}

.left-button,
.right-button i {
    visibility: hidden;
}
/* Fin botones para mas noticias */
/* Fin sección Noticias Populares */

/* ** Sección Banner foot */
.banner-footer {
    background: #316099;
    padding: 40px 20px;
}

.banner-footer h2 {
    color: #fff;
    width: 50%;
    font-weight: 400;
    margin-bottom: 32px;
}

.banner-footer p {
    color: rgba(255, 255, 255, 0.6);
}

.banner-footer button {
    width: 100%;
    border: none;
    background: #5A98D0;
    color: #fff;
    padding: 15px;
    line-height: 26px;
    margin-top: 32px;
    cursor: pointer;
}
/* Fin sección banner foot */

/* ** Sección Footer */
.footer {
    background: #5A98D0;
}

.title{
    display: flex;
    align-items: center;
    line-height: 48px;
    margin-bottom: 16px;
}

.footer h3 {
    margin-bottom: 0px;
    color: #fff;
}

.footer li {
    color: #fff;
    font-family: Arial;
    font-size: 1.6rem;
    margin: 24px 0px;
    font-weight: 100;
}

.footer span {
    margin-right: 8px;
    font-weight: 700;
}

.section-footer {
   display: inline-block;
    width: 100%;
}

.footer-content {
    padding: 40px 20px;
}

/* Footer down */
.footer-down {
    padding: 0px 0px 48px 20px; 
}

.footer-down p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.2rem;
}
/* Fin sección footer down */
/* Fin sección footer */

@media all and (min-width:520px) {
    h2 {
        font-size: 1.8rem;
    }

    .cards-news {
        display: grid;
        grid-template-columns: 40% 58%;
        gap: 16px;
    }

    .text-card {
        width: 100%;
        align-content: space-between;
    }

    .content-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .section-second-popular {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
    }

    .cards-news-second {
        margin-bottom: 0px;
    }

    .all-article figure{
        order: 1;
    }
    
    .all-article content-card {
        order: 2;
    }

    .section-buttons-footer {
        justify-content: space-between;
    }

    .left-button,
    .right-button i {
        visibility: visible;
    }

    .banner-top {
        padding: 50px 140px;
    }

    .nav a {
        font-size: 2.0rem;
    }

    .banner-footer {
        display: grid;
        grid-template-columns: 60% 35%;
        gap: 24px;
        align-items: center;
    }

    .banner-footer div {
        margin: 48px;
    }

    .banner-footer button {
        margin-top: 0px;
    }

    .footer-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        padding: 48px 84px;
    }

    .footer-down {
        padding: 0px 0px 48px 48px;
    }
}

@media all and (min-width:960px) {
    .wrap {
        width: 960px;
        margin: auto;
    }

    .footer-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        padding: 48px 84px;
    }
}