/* Pantallas extra anchas */
@media (min-width: 1400px) {
    .nav,
    .presentation,
    .service-content,
    .footer {
        width: 60%;
        margin: auto;
    }
}

@media (max-width: 992px) {
    .presentation,
    .service-content__service-type {
        flex-direction: column;
    }

    .presentation {
        &__information {
            text-align: center;
            margin-right: 0px;
            margin-bottom: 24px;
        }
    }
}

@media (max-width: 420px) {
    .presentation__information {
        text-align: center;
        margin-bottom: 30px;
    }

    .presentation__btns {
        margin-top: 16px;
    }

    .btn {
        display: block;
        width: 100%;
    }
}


.nav {
    @include box-flex (center, center, wrap);
}