/* Variables */
$font-size-body: 1.8rem;
$font-size-h1: 3.0rem;
$font-size-h2: 2.4rem;
$font-size-title: 2.0rem;

/* Colors */
$color-principal: #6495ED;
$color-secundary: #868484;
$color-white: #fff;