.btn {
    border: none;
    color: #fff;
    border-radius: 8px;
    padding: 12px 16px;
    cursor: pointer;
    background: gray;
}

.btn__primary {
    background: blue;
}

.btn__secundary {
    background: grey;
}

.btn__success {
    background: green;
}