.button {
    width: 213px;
    height: 48px;
    line-height: 48px;
    color: #fff;
    background: gray;
    border: none;
    cursor: pointer;
}

.button-primary {
    background-color: red;
}

.button-secundary {
    background-color: green;
}